body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer { padding: 20px; margin: 10px 20px; font-size: 1.1em; text-align:center; border-top: 1px solid #C9E0ED; 
	background-color:#cce0eb; color:#fff; font-weight:bold; text-transform:uppercase;
	-webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.7);
	-moz-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.7);
	box-shadow:0px 0px 6px rgba(50, 50, 50, 0.7);}
#footer a {text-decoration:none;color:#fff;}
#footer a:hover {color:#66a3c4;}
#logo {padding: 10px 20px; font-size: 300%; letter-spacing:2px; }
#motto { padding-left:20px; padding-bottom:20px;font-size: 120%; color:#5f5f5f;}
#mainmenu { width:120px; display:block; }
#mainmenu ul { padding:10px; padding-left:0px; margin:0px; }
#mainmenu ul li { text-transform:uppercase; margin-top:10px; background-color:#cce0eb; display: block; line-height: 30px; 
		-webkit-box-shadow:2px 3px 5px rgba(50,50,50,0.17);-moz-box-shadow:2px 3px 5px rgba(50,50,50,0.17); box-shadow:2px 3px 5px rgba(50,50,50,0.17);}
#mainmenu ul li a {color:#ffffff; font-size:15px; font-weight:bold; text-decoration:none; padding:10px; padding-left:15px;}
#mainmenu ul li a:hover {color:#66a3c4;}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* STYLING
----------------------------------------- */
.left {float:left;}
.right {float:right;}

/* LINK BUTTON 
------------------------------------------------------------ */
.link_orange {background-color:#ec7426; color:#fff; padding-left:10px; padding-right:10px; padding-top:8px; padding-bottom:8px; 
text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px; cursor:pointer;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17); }
.link_orange:hover {background-color:#f2902d;text-decoration:none;}

.link_blue {background-color:#007bc1; color:#fff; padding-left:10px; padding-right:10px; padding-top:8px; padding-bottom:8px; 
text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;border:none;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);cursor:pointer; }
.link_blue:hover{background-color:#0092dd;text-decoration:none;}

.link_green {background-color:#b6d150; color:#fff; padding-left:18px; padding-right:18px; padding-top:8px; padding-bottom:8px; text-decoration:none;
-webkit-box-shadow:2px 3px 5px rgba(50,50,50,0.17);-moz-box-shadow:2px 3px 5px rgba(50,50,50,0.17); box-shadow:2px 3px 5px rgba(50,50,50,0.17);
letter-spacing:1px; font-size:17px;font-weight:bold;cursor:pointer;}
.link_green:hover {background-color:#d6e15f; text-decoration:none;}

.submit input {background-color:#007bc1; color:#fff; padding-left:10px; padding-right:10px; padding-top:8px; padding-bottom:8px; 
text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;border:none; cursor:pointer;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);}
.submit input:hover {background-color:#0092dd;text-decoration:none;}