#outer_container
{
	overflow:hidden;
}

#inner_container
{
	width:10000px;
}

.item
{
	width:300px;
	height:180px;
	background-color:yellow;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
}

.choosen
{
	border: 1px solid black;
}

/* Materi */
.materi {background-color:#cce0eb;margin-bottom: 10px; 
-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.5);
box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.5);}
.datebox { color: #fff; margin-right: 30px;padding-bottom: 10px; }
.title,.entry, .author { margin-left: 30px; }
.title { padding-top: 10px; }
.title a {color:#fff; text-decoration:none; letter-spacing:1px;}
.author {color:#fff;font-weight:bold;}

/* STYLING
----------------------------------------- */
.left {float:left;}
.right {float:right;}

/* LINK BUTTON 
------------------------------------------------------------ */
.link_orange {background-color:#ec7426; color:#fff; padding-left:10px; padding-right:10px; padding-top:8px; padding-bottom:8px; 
text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px; cursor:pointer;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17); }
.link_orange:hover {background-color:#f2902d;text-decoration:none;}

.link_blue {background-color:#007bc1; color:#fff; padding-left:10px; padding-right:10px; padding-top:8px; padding-bottom:8px; 
text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;border:none;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);cursor:pointer;}
.link_blue:hover{background-color:#0092dd;text-decoration:none;}
.link_blue a {color:#fff;text-decoration:none;}
.link_green {background-color:#d6e15f; color:#fff; padding-left:18px; padding-right:18px; padding-top:8px; padding-bottom:8px; text-decoration:none;
-webkit-box-shadow:2px 3px 5px rgba(50,50,50,0.17);-moz-box-shadow:2px 3px 5px rgba(50,50,50,0.17); box-shadow:2px 3px 5px rgba(50,50,50,0.17);
letter-spacing:1px; font-size:17px;font-weight:bold;text-align:center;}
.link_red {background-color:#46b3db; color:#fff; padding-left:18px; padding-right:18px; padding-top:8px; padding-bottom:8px; text-decoration:none;
-webkit-box-shadow:2px 3px 5px rgba(50,50,50,0.17);-moz-box-shadow:2px 3px 5px rgba(50,50,50,0.17); box-shadow:2px 3px 5px rgba(50,50,50,0.17);
letter-spacing:1px; font-size:17px;font-weight:bold;text-align:center;}

.submit input {background-color:#007bc1; color:#fff; padding-left:10px; padding-right:10px; padding-top:8px; padding-bottom:8px; 
text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;border:none; cursor:pointer;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);}
.submit input:hover {background-color:#0092dd;text-decoration:none;}

.jawaban {background-color:#7fc9e2;width:100%;color:#fff;margin-top:10px;}